.profile__subheading {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    padding: 0;
    margin: 16px 0 0 0;
  }
  
  @media screen and (max-width: 767px) {
    .profile__subheading {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      margin: 14px 0 0 0;
    }
  }
  