.profile__adding-button {
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  display: block;
  padding: 14px 64px;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.profile__adding-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__adding-button {
    max-width: 282px;
    margin-top: 36px;
  }
}
@media screen and (max-width: 320px) {
  .profile__adding-button {
    max-width: 282px;
    margin-top: 36px;
    padding: 14px 130px;
  }
}
