.elements__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-template-rows: repeat(auto-fill, minmax(min-content, max-content));
  justify-content: center;
  gap: 20px 17px;
}

@media screen and (min-width: 1280px) {
  .elements__list {
    grid-template-columns: repeat(3, 282px);
  }
}

@media screen and (max-width: 767px) {
  .elements__list {
    gap: 20px;
  }
}
